.background {
    display: flex;
    height: 100vh;
    background-image: url("../../assets/QuestionBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: scroll ;
}

.pickedMovie {
    color: white;
}