.buttonContainer {
    width: 100%;
}

.button {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    background: rgb(183, 29, 34, 255);
    padding: 15px 25px;
    border-radius: 16px;
    border-width: 0;
    font-size: 1.2rem;
    font-weight: 900;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    box-sizing: border-box;
    background: rgba(255, 255, 255, 1);
    color: rgba(183, 29, 34, 1);
    border-width: 2px;
    border-color: rgba(183, 29, 34, 1);
    border-style: solid;
    box-shadow: 0 5px 15px rgba(233, 37, 106, 0.7);
}

.homepageButton{
    font-size: 1.8rem;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(233, 37, 106, 255);
}

.homepageButton:hover {
    background: rgba(255, 255, 255, 1);
    color: rgba(233, 37, 106, 1);
    border-width: 4px;
    border-color: rgba(233, 37, 106, 1);
    box-shadow: 0 15px 85px rgba(233, 37, 106, 0.7);
}

